* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  font-size: calc(12px + 0.2vw);
  font-family: "Roboto", sans-serif;
  --neutralDark: #0f172a;
  --offWhite: #f4f4f5;
  --blue: #0c4a6e;
  --lightBlue: #2563eb;
  --red: #881337;
  --gray: #6b7280;
  --lightRed: #f87171;
  --green: #16a34a;
}

.unclickable {
  pointer-events: none;
  opacity: 0.4;
}

.app-container {
  display: flex;
  flex-direction: column;
}

.nav-container {
  gap: 5rem;
  background-color: var(--blue);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  color: var(--offWhite);
  font-weight: bold;
  text-align: center;
}
@media (max-width: 913px) {
  :root {
    font-size: 10px;
  }
  .nav-container {
    gap: 4rem;
  }
  input[type="range"] {
    width: 120px;
    height: 7px;
  }
}
@media (max-width: 684px) {
  :root {
    font-size: 8px;
  }
  .nav-container {
    gap: 3rem;
  }
  input[type="range"] {
    width: 100px;
    height: 6px;
  }
}
@media (max-width: 540px) {
  :root {
    font-size: 6px;
  }
  .nav-container {
    gap: 2rem;
  }
  input[type="range"] {
    width: 80px;
  }
}
@media (max-width: 406px) {
  :root {
    font-size: 5px;
  }
  .nav-container {
    gap: 1.5rem;
  }
  input[type="range"] {
    width: 60px;
    height: 5px;
  }
}
@media (max-width: 332px) {
  .nav-container {
    gap: 0.1rem;
  }
  input[type="range"] {
    width: 50px;
  }
}
.nav-container > div {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 1rem;
  border-left: 5px solid var(--neutralDark);
  border-right: 5px solid var(--neutralDark);
  border-radius: 1rem;
}
.nav-container h2:hover {
  color: var(--gray);
  cursor: pointer;
}
input[type="range"] {
  cursor: pointer;
}
/* Array Size nav item does nothing on hover */
#arraySize-nav:hover {
  color: var(--offWhite);
  cursor: default;
}

.sort-interface {
  display: flex;
  align-self: center;
  width: 70%;
  gap: 1px;
}
.bar {
  flex: 1;
  background-color: var(--lightBlue);
}
.bar.sorted {
  background-color: var(--lightRed);
}
.bar.highlighted {
  background-color: var(--green);
}
